extends layout

block content
  .header
    .menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a.pure-menu-heading(href="#") TEST 

      ul.pure-menu-list 
        li.pure-menu-item
          a.pure-menu-link(href="#") About
        li.pure-menu-item 
          a.pure-menu-link(href="/projects/home") Projects
        li.pure-menu-item 
          a.pure-menu-link(href="#") ?????

  div.main-window
    h1.title Sym's Archive
    p Time to add content
