doctype html
html
  head
    title= title

    //Pure css setup
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous")

    //Google api fonts
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Xanh+Mono&display=swap" )

    block stylesheets 
        link(rel="stylesheet" href="/stylesheets/sidebar.css")
        script(src="/javascripts/sidebar-ui.js")
        
  body
    block content
        #layout 
            a.menu-link#menuLink(href="#menu")
                span 
            #menu 
                .pure-menu 
                    a.pure-menu-heading(href="/") Sym's Archive

                    ul.pure-menu-list 
                        li.pure-menu-item
                            a.pure-menu-link(href="/projects/about") About 
                        li.pure-menu-item.menu-item-divided.pure-menu-selected 
                            a.pure-menu-link(href="/projects/home") Projects
                        li.pure-menu-item 
                            a.pure-menu-link(href="#contact") Test 2
            #main
                block projectContent
                    .header 
                        h1 Page Title 
                        h2 Sub Header 
                    .content 
                        h2.content-subhead POTATO POTATO 
                        p ELEPHANT
