extends projectLayout 




block projectContent 
    .header 
        h1 Python Projects
    .content 
        h2.content-subhead Mass Cull Back Faces
        p.
            A plugin for Marmoset 4 to automate a tedious task: Culling back faces. Simply open the plugin, select a set of items and select an action from the plugin window.

        a(href="/files/massCullBackFaces.py") Source